*{
    box-sizing: border-box;
}

/* css of Movie Project */
.main{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap ;
}

/* 
.hooks{
    text-align: center;
    /* height: 50vh; */
    /* margin-top: 100px; */
/* } */
 /*
.hooks > button{
    background-color: blueviolet;
    margin: 10px;
    padding: 8px;
} */


    /* Project recording data */

.recordcontainer{
  

    height: 100vh;
    background-color: #D6D6B1;
  
}
.hero{
   display: flex;
   justify-content: center;
   margin-top: 6px;
}

.display{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 14px;
    height: 40%;
}
.data__val{
    display: flex;
    margin-top: 3px;
    justify-content: space-between  ;
    width: 60%;
    height: 15%;
    align-items: center;
    padding: 0px 9px 0px 9px ;
    background-color: #778da9;
    border-radius: 6px;
}
.data__val:hover{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

}
.data__val > button{
    background-color: rgba(163, 7, 7,0.9);
    color: white;
    border-radius: 6px;
    width: 9%;
    cursor:pointer;
}

/* useEffect hook */
/* .data{
    width: 100%;
    padding: 2px;
    display: flex;
    justify-content: space-evenly;

} */